* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;

  zoom: 1.5;
}

.navbar {
  background: #F55A5A;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.navbar > img {
  width: 24px;
  height: 24px;
}

.navbar > h1 {
  
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.075em;

  color: #FFFFFF;
}

.card {
  display: flex;
  margin: 45px 40px;
  gap: 19px;
  height: 168px;
  justify-content: center;
}

.card--img {
  width: 125px;
  height: 100%;
  border-radius: 5px;
}

.card--content {
  display: flex;
  flex-direction: column;
}

.card--content > h1 {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  color: #2B283A;

  margin-top: -5px;
}

.card--content > h3 {
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;
  
  color: #2B283A;
}

.card--content--desc {
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  width: 325px;
  
  margin-top: 0;
  
  color: #2B283A;
}


.card--location {
  display: flex;
  align-items: center;
  gap: 4px;
}

.card--location > p {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.2em;

  color: #2B283A;
}

.card--location > a {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-decoration-line: underline;

  padding-left: 8px;

  color: #918E9B;
}

